
/* 2xl
@media ( max-width: 1536px) {
 
}


/* xl */
/* @media ( max-width: 1280px) {
  

} */



/* lg*/
/* @media ( max-width: 1024px) {


} */

/* md */
/* @media ( max-width: 768px) {
  
} */



/* sm */
/* @media ( max-width: 640px) {
      
} */


/* xs */
/* @media ( max-width: 475px) {
   
} */ 




.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: .5rem;
    padding-right: .5rem; 
    padding-top: 1rem;
    /* border: 2px solid red; */
}






.section {
    margin-top: 3rem;
}


.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

img {
    width: 100%;
}
small {
    display: block;
}


/* 2xl */
@media ( max-width: 1536px) {
    .container {
        max-width: 1280px;
    }

    .container-2 {
        max-width: 1280px;
    }
}


/* xl */
@media ( max-width: 1280px) {
    .container {
        max-width: 1024px;
    }

    .container-2 {
        max-width: 1024px;
    }
}



/* lg*/
@media ( max-width: 1024px) {
    .container {
        max-width: 768px;
    }

    .container-2 {
        max-width: 768px;
    }

    .section {
        margin-top: 3rem;
    }



    

}

/* md */
@media ( max-width: 768px) {
    .container {
        max-width: 640px;
    }

    .container-2 {
        max-width: 640px;
    }

    .section {
        margin-top: 2rem;
    }

   
}



/* sm */
@media ( max-width: 640px) {
    .container {
        max-width: 475px;
    }

    .container-2 {
        max-width: 475px;
    }

    .btn {
        font-size: 11px;
        padding: .3rem 1.5rem;
    }
   
}


/* xs */
@media ( max-width: 475px) {
    .container {
        width: 100%;
    }
    .container-2 {
        width: 100%;
    }
}
